* {
	box-sizing: inherit;
	margin: 0;
	padding: 0; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	background-color: #f2f2f2;
}

h1 {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 70px;
}

b {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 45px;
}

table {
	width: 66.66666%;
	margin: 20px;
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 25px;
	float: left;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	background-color: white;
	border-radius: 10px;
	text-align: center;
	box-shadow: 2px 2px 2px grey; /* (-)izquierda-derecha(+), (-)arriba-abajo(+), radio (mayor es borroso, 0 es solido*/
	justify-content: center;
	width: 11.11111%;
}

td > img {
	width: 30px;
}

td:hover {
	-webkit-transition:all .9s ease; 
	transform: translate(-5px, -5px);
	background-color: #f25c05;
	color: white;
}

.inputs {
	font-size: 45px;
}

.botones {
	font-size: 29px;
}

.footerTitulo {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 45px;
}

#contenedor-descripcion {
	display: flex;
    justify-content: center; 
}

/*.titulo-tabla {
	width: 500px;
}*/

.hexagrama-descripcion {
	border-radius: 15px;
	background-color: white;
	padding: 30px;
	width: 24.99999%;
	display: inline-block;
	margin: 20px;
	vertical-align: center;
	box-shadow: 3px 3px 20px grey;
}

.hexagrama-descripcion:hover {
	-webkit-transition:all .9s ease; 
	transform: translate(-5px, -5px);
}

.hexagrama-descripcion2 {
	display: none;
}

#descripcion-hover {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	font-size: 40px;
	background-color: #f29f05;
	width: 100%;
}

footer > div {
	display: inline-block;
}