* {
	box-sizing: inherit;
	margin: 0;
	padding: 0; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	background-color: #f2f2f2;
}

h1 {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 70px;
}

b {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 45px;
}

.inputs {
	font-size: 45px;
}

.botones {
	font-size: 29px;
}

/*Tabla */

table {
	width: 66.66666%;
	margin: 20px;
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 25px;
	float: left;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	background-color: white;
	border-radius: 10px;
	text-align: center;
	box-shadow: 2px 2px 2px grey; /* (-)izquierda-derecha(+), (-)arriba-abajo(+), radio (mayor es borroso, 0 es solido*/
	justify-content: center;
	width: 11.11111%;
}

td > img {
	width: 30px;
}

td:hover {
	-webkit-transition:all .3s ease; 
	transform: translate(-5px, -5px);
	/*background-color: #f25c05;*/
	background-color: #fb7f37;
	color: white;
}

.td-selected {
	background-color: #f25c05;
}

#hexagrama-descripcion-tabla {
	visibility: hidden;
}

#descripcion-hover {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Descripción resultado */

.hexagrama-descripcion {
	border-radius: 15px;
	background-color: white;
	padding: 30px;
	width: 24.99999%;
	display: inline-block;
	margin: 20px;
	vertical-align: center;
	box-shadow: 3px 3px 20px grey;
	text-align: center;
}

.hexagrama-descripcion:hover {
	-webkit-transition:all .5s ease; 
	transform: translate(-5px, -5px);
}

#hexagrama-descripcion-resultado-1 {
	display: none;
}

#hexagrama-descripcion-resultado-2 {
	display: none;
}

/* Contenedor */

.contenedor-descripcion {
	display: flex;
    justify-content: center; 
}

/* Footer */

footer {
	background-color: #f29f05;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footerTitulo {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 45px;
}

footer > b {
	font-weight: bold;
}

footer > div {
	display: inline-block;
	font-size: 30px;
	text-align: center;
	padding: 20px;
}

footer > div > img {
	height: auto;
}